@test "Test_offline_encrypted_image $IMAGE $IMAGE_SIZE $RUNTIMECLASSNAME" {
	set_runtimeclass_config $RUNTIMECLASSNAME
	#switch_measured_rootfs_verity_scheme none
	remove_kernel_param "agent.enable_signature_verification"
	generate_offline_encrypted_image $IMAGE
	setup_offline_decryption_files_in_guest
	pod_config="$(new_pod_config_normal $test_coco_path/../fixtures/offline-encrypted-config.yaml.in "$IMAGE" "$RUNTIMECLASSNAME" "$REGISTRTYIMAGE:offline-encrypted")"
	pull_encrypted_image_inside_guest_with_decryption_key $pod_config
	rm $pod_config
}
